<div class="container">

  <div class="col-12-md">
    <div class="row">
      <header class="">
        <h2>Available at Shifting Paradigm Records</h2>
      </header>
      <div class="row">
        <button class="btn btn-warning"><a href="https://gumroad.com/l/beautifulsunshine">Purchase</a></button>
      </div>
      <div class="row">
      <blockquote>"Artfully divergent... Healey’s Beautiful Sunshine Band go almost everywhere in Healey’s debut album, from straight
        bop to abstract jazz to post-rock to shades of metal, and they often mix it all up for a fresh, unpredictable cocktail."
        <br/> -Something Else! Reviews
      </blockquote>
      <blockquote>"Healey (has a) drive and predilection for creatively slopping up the groove with off-kilter accents and unexpected
        tom explosions, but it’s his melodic sensibilities that set him apart, whether he’s adapting the bouncy, joyful lyricism
        of Ornette Coleman on “Ubiquitous Condiments,” tapping into classic bebop on his “Aragon,” or pushing a moody, overdriven
        noir vibe on “Omens.”" <br/> - Peter Margasak, Chicago Reader
      </blockquote>
      </div>
    </div>

    <div class="row">
      <header class="">
        <h2>Listen</h2>
      </header>
      <p>Beautiful Sunshine from your favorite online source.</p>
      <div class="btn-group">
        <button class="btn">
      <a href="https://itunes.apple.com/us/album/beautiful-sunshine/id1090950387"><i class="fa fa-apple"></i></a>
      <h3>iTunes</h3>
    </button>
        <button class="btn">
      <a href="https://www.amazon.com/gp/product/B01CKIPENM?ie=UTF8&keywords=Cory%20Healey%27s%20Beautiful%20Sunshine%20Band&qid=1461961304&ref_=sr_1_1&sr=8-1"><span class="fa fa-amazon"></span></a>
      <h3>Amazon</h3>
    </button>
        <button class="btn">
      <a href="https://play.google.com/store/music/album/Cory_Healey_s_Beautiful_Sunshine_Band_Beautiful_Su?id=Bzcgdb26wq56cp5dsz7uwyfk6eu"><span class="fa fa-google-plus"></span></a>
      <h3>Google Music</h3>
    </button>
        <button class="btn">
      <a href="https://open.spotify.com/artist/7q5LM9OubzqyegZRxCd6z2"><span class="fa fa-spotify"></span></a>
      <h3>Spotify</h3>
    </button>
      </div>
    </div>
  </div>
</div>