
<footer class="footer">
  <div class="container">
  <span class="text-muted">
    <a href="https://www.facebook.com/BeautifulSunshineBand/" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/CoryHealeyMusic" ><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/watch?v=p1bG5-1k8pk"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/pizza_burrito_jr/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="mailto:coryhealey@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </span>
    <div>&copy; Cory Healey Music</div>
  </div>
</footer>