<div class="contanier">
  <div class="row">
    <div class="page-header">
      <h2>CORY HEALEY</h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          Cory Healey’s unique drumming has led to collaborations with artists from many different genres. He has toured North America
          and Europe and had the privilege of performing with Kenny Wheeler, Dr Lonnie Smith, John Abercrombie, and David
          Berkman. While living in Chicago, he performed and recorded with Algernon, Fareed Haque’s Flat EarthEnsemble, W.W.
          Lowman, Ike Riley, and Scott Hesse. In 2013, Healey moved to the Minneapolis, where he’s worked with some of the
          Twin Cities’ most prominent artists including Dead Man Winter, Dosh, Marijuana Deathsquads, and Anthony Cox. Healey
          leads The Beautiful Sunshine Band which features Erik Fratzke (bass), Jake Baldwin (trumpet), and Zacc Harris (guitar).
          The music traverses bebop, free jazz, ambient, and doom metal.
        </p>
      </div>
    </div>
  </div>
</div>