<div class="container">
  <div class="row">
    <div class="row">
      <div class="jumbotron large-jumbotron hidden-xs">
        Image
      </div>
    </div>
    <div class="row">
      <div class="page-header">
        <h2>Gigs</h2>
      </div>
      <a href="http://www.songkick.com/artists/8760074" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true"
        data-background-color="transparent">Cory Healey&#x27;s Beautiful Sunshine Band tour dates</a>
      <script src="//widget.songkick.com/widget.js"></script>
    </div>
  </div>
</div>
